.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;

    @include tablets {
      display: none;
    }
  }

  &__links {

    @include phones {
      display: none;
    }
  }
}

